@import "tailwindcss";

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: local("ZT Bros Oskon 90s");
}

@theme {
  --color-primary: #f4f1e8;
  --color-secondary: #3b4043;
  --font-brand: "ZT Bros Oskon 90s", sans-serif;
}
